# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/uw_formula_n_website/node_modules
/uw_formula_n_website/.pnp
.pnp.js

# testing
/uw_formula_n_website/coverage

# production
/uw_formula_n_website/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
